<form action="/restaurants" method="post">
<label>Name of Restaurant: </label>
<br/>
<input type="text" name="restaurant_name">
<br/>
<label>Category: </label>
<br/>
<input type="text" name="restaurant_category">
<br/>
<input type="submit">
</form>